* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    /* flex-direction: column; */
    /* flex-flow: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 10px;
    height: 100vh;
    width: 100%;
    gap: 20px;
}

h1{
    font-size: 4em;
}

/*div cadre*/
.cadre {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    border-style: double;
    padding: 5px;
}

button {
    background-color: darkorange;
    padding: 10px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em;
}

button:hover {
    transition: 0.5s;
    background: black;
    color: darkorange;
}

.de {
    font-size: 20em;
    padding: 1px;
}